[Unit]
Description=Small server for creating HTTP endpoints (hooks)
Documentation=https://github.com/adnanh/webhook/
ConditionPathExists=/home/ubuntu/s24cicd-JoeyTimm/deployment/hooks.json

[Service]
ExecStart=/usr/bin/webhook -nopanic -hooks /home/ubuntu/s24cicd-JoeyTimm/deployment/hooks.json -verbose

[Install]
WantedBy=multi-user.target
